.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

/* Shared Styles */

.secondary-bg {
    background-color: #FFF8F3;

}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-weight: normal;
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
    text-align: center;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */

.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 37px 0px 200px;
}

.greeting {
    font-weight: semi-bold;
    font-size: 45px;
    color: #474747;
}

.banner-content {
    min-width: 585px;
    max-height: 356px;
    margin-top: 50px;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}

.banner-description {
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}

.banner-btn {
    margin-top: 30px;
}

.banner-btn-2 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    background-color: white;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 24px;
    border-color: #FD6E0A;
}

.banner-pic {
    width: 584px;
    height: 676px;
}

/*Main Styles */

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* About Styles */


.about-section {
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;

}

.about-content {
    border: 1px solid #181818;
    background-color: #FFFFFF;
}

.about-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}


.about-info-des1 {
    font-weight: normal;
    font-size: 20px;
    color: #757575;
}

.about-info-des2 {
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}

/* Skills Styles */

.section-title {
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;
    padding: 30px;
    background-color: #FFFFFF;


}

.skill-item {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
}

.skill-item .skill-title {
    font-weight: bold;
    font-size: 20px;
    color: #181818;

}

.skill-description {
    width: 200px;
    height: 195px;
    font-weight: normal;
    font-size: 16px;
    color: #757575;
    text-align: left;
}

/* Resume Styles */

.resume-content {
    display: flex;
    gap: 24px;
    /* margin-top: 50px; */
}

.resume-title {
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-items {
    width: 510px;
    height: 175px;
    margin-bottom: 30px;

}

.resume-heading {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: 0px;

}

.resume-sub-heading {
    font-weight: semi-bold;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 10px;
}

.resume-description {
    font-weight: normal;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}

.resume hr {
    margin: 30px 0px 30px 0px;
    border: none;
    border-top: 1px solid #D1D1D1;
}

.resume-btn {
    text-align: center;
    margin: 50px 0px 113px 0px;
}

/* Footer Styles */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px
}

.footer-title {
    text-align: left;
}

.connect,
.massage {
    margin: 130px;
    width: 50%;

}

.connect-description {
    font-weight: regular;
    font-size: 16px;
    color: #474747;
    text-align: left;
}

.icons {
    display: flex;
    list-style: none;
    gap: 24px;
    margin-top: 30px;

}

.contact-form {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 28px;
}

.contact-form input,
.contact-form textarea {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 30px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
}

.footer-btn {
    width: 150px;
    height: 64px;
}